<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.panic.Prompt2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ssh</string>
				<string>telnet</string>
				<string>prompt-ssh</string>
				<string>prompt-telnet</string>
				<string>prompt-favorite</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.panic.Prompt2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prompt-sendv1settings</string>
			</array>
		</dict>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>Some shared code with Coda iOS references contacts for Git purposes, but Prompt does not actually ever access contacts.</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>DTPlatformVersion</key>
	<string>11.2</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleName</key>
	<string>Prompt 2</string>
	<key>DTSDKName</key>
	<string>iphoneos11.2</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Prompt allows users to upload custom images for server avatars.</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>CFBundleDisplayName</key>
	<string>Prompt</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>coda</string>
		<string>org-appextension-feature-password-management</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>DTSDKBuild</key>
	<string>15C107</string>
	<key>NSCameraUsageDescription</key>
	<string>Prompt allows users to upload custom images for server avatars.</string>
	<key>CFBundleShortVersionString</key>
	<string>2.6.5</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>16G1212</string>
	<key>DTPlatformBuild</key>
	<string>15C107</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleVersion</key>
	<string>76478</string>
	<key>UIAppFonts</key>
	<array>
		<string>SourceCodePro-Semibold.otf</string>
		<string>SourceCodePro-Regular.otf</string>
		<string>SourceCodePro-Medium.otf</string>
		<string>SourceCodePro-Light.otf</string>
		<string>SourceCodePro-ExtraLight.otf</string>
		<string>SourceCodePro-Bold.otf</string>
		<string>SourceCodePro-Black.otf</string>
		<string>PanicSans.ttf</string>
		<string>PanicSans-Bold.ttf</string>
		<string>PanicSans-Italic.ttf</string>
		<string>PanicSans-BoldItalic.ttf</string>
		<string>migu-2m-bold.ttf</string>
		<string>migu-2m-regular.ttf</string>
		<string>Menlo.ttc</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
		</dict>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>Fabric</key>
	<dict>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
				</dict>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
		<key>APIKey</key>
		<string>86e89eea918507ac0150165c40c569182f606591</string>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.panic.Prompt2</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>CFBundleExecutable</key>
	<string>Prompt 2</string>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon60x60</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Prompt uses Face ID to secure your servers from unauthorized access.</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>UIMainStoryboardFile</key>
	<string>MainStoryboard</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
</dict>
</plist>
